<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/tml4vii.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <title>Can I Vote?</title>
    <meta name="description" content="You don’t have to be a British Citizen to vote in the UK election." />
    <meta property="og:title" content="Can I Vote?">
    <meta property="og:site_name" content="Can I Vote?">
    <meta property="og:url" content="https://www.canivote.org.uk">
    <meta property="og:description" content="You don’t have to be a British Citizen to vote in the UK election. Commonwealth nationals with leave to enter or leave to remain in the UK are eligible to vote in all UK elections. ">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">

    <meta name="twiiter:card" content="summary">
    <meta name="twitter:title" content="Can I Vote?">
    <meta name="twitter:description" content="You don’t have to be a British Citizen to vote in the UK election. Commonwealth nationals with leave to enter or leave to remain in the UK are eligible to vote in all UK elections. ">
    <meta name="twitter:url" content="https://www.canivote.org.uk">
    <meta name="twitter:image" content="">

  </head>

  <body class="home ws-medium">

    <main class="container">
      {% include "partials/sharer.njk" %}
      <section class="main-content" id="can-i-vote">
        {{ content | safe }}
        <form id="country-selector" method="get" action="/" autocomplete="off" type="search">
          <label>
            
            <select name="country">
                <option value="">Choose your country </option>
              {% for country in countries %}
                <option value="{{ country.name | slug }}">{{ country.name }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Can I vote?">
          </label>
        </form>
      </section>
      {% include "partials/footer.njk" %}

    </main>

    <script src="/js/selector-interceptor.js"></script>
  </body>

</html>