<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/tml4vii.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Can I Vote -
      {{ title }}</title>
  </head>

  <body class="home ws-medium">

    <main class="container">
      {% include "partials/sharer.njk" %}
      <section class="main-content" id="can-i-vote">
        {{ content | safe }}
        <form id="country-selector" method="get" action="/" autocomplete="off" type="search">
          <label>
            <h3>Choose your country</h3>
            <select name="country">

              {% for country in countries | alphabeticize  %}
                <option value="{{ country.name.common | slug }}">{{ country.name.common }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Can I vote?">
          </label>
        </form>
      </section>
      {% include "partials/footer.njk" %}

    </main>

    <script src="/js/selector-interceptor.js"></script>
  </body>

</html>