<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/tml4vii.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    {% if country.cw %}
      <meta name="description" content="Citizens of {{country.name}} can vote on December 12th."/>
      <meta property="og:title" content="Can I Vote: {{country.name}}"/>
      <meta property="og:site_name" content="Can I Vote"/>
      <meta property="og:url" content="https://www.canivote.org.uk/{{ country.name | slug }}/"/>
      <meta property="og:description" content="Citizens of {{country.name}} can vote on December 12th."/>
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.canivote.org.uk/img/countries/{{country.name | slug}}.png"/>
      <meta property="og:image:width" content="1024"/>
      <meta property="og:image:height" content="512"/>
      <meta property="og:image:alt" content="Yes! Citizens of {{country.name}} can vote on Thursday December 12th. Register to vote. Deadline to register: 26th November."/>

      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:title" content="Can I Vote: {{country.name}}"/>
      <meta name="twitter:description" content="Citizens of {{country.name}} can vote on December 12th."/>
      <meta name="twitter:url" content="https://www.canivote.org.uk/{{ country.name | slug }}/"/>
      <meta name="twitter:image" content="https://www.canivote.org.uk/img/countries/{{country.name | slug}}.png"/>
    {% else %}
      {% include "partials/default-meta-tags.njk" %}
    {% endif %}
    <title>Can I Vote –
      {{country.name}}</title>
  </head>

  <body class="country ws-medium">
 
    
    
 
    <link itemprop="thumbnailUrl" href="https://www.canivote.org.uk/img/countries/{{country.name | slug}}.png">
    <span itemprop="thumbnail" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
      <link itemprop="url" href="https://www.canivote.org.uk/img/countries/{{country.name | slug}}.png">
    </span>

    {% include "partials/skip-to-content.njk" %}

    <main class="container">

      

      <header>
        <h1 class="logo"><a href="{{basePermalink}}" title="{{words[language]['main.can-i-vote']}}"><img src="/img/can-i-vote-tick-burgandy.svg" alt="{{words[language]['main.can-i-vote']}}" /></a></h1>
      </header>

      {% if country.cw %}
        <section class="main-content">
          <header class="result">
            <h1 class="ws-bold"  id="content">{{words[language]['result.yes']}}</h1>
            <img class="flag" src="/flags/{{ country.code | lower }}.svg" alt="{{ country.name }} Flag"/>
          </header>
          <h2 class="ws-bold title">{{words[language]['result.citizens-of']}}
            {{country.name}}
            {{words[language]['result.result']}}
          </h2>
          <a class="ws-semibold register-cta" href="https://www.registertovote.service.gov.uk/register-to-vote/country-of-residence" target="_blank" title="Register to vote on gov.uk">{{words[language]['result.register']}}</a>
        </section>
        <section class="white-angle-area">
          <div class="content-container">
            <ul class="ws-semibold tick-list">
            {% if country.name === "Hong Kong" %}
            <li>Former residents of Hong Kong (born before 1997) who hold a British Dependent Territories, British Nationals (Overseas) or British Overseas passport qualify for registration.</li>
            {% else %}
              <li>{{words[language]['actions.yes.first']}}</li>

            {%endif%}
              <li>{{words[language]['actions.yes.second']}}</li>
              <li>{{words[language]['actions.yes.third']}}</li>
            </ul>
          </div>

        {% elseif country.eu %}
          <section class="main-content">
            <header class="result">
              <h1 class="ws-bold">{{words[language]['result.no']}}</h1>
              <img class="flag" src="/flags/{{ country.code | lower }}.svg" alt="{{ country.name }} Flag"/>
            </header>
            <h2 class="ws-bold title">{{words[language]['result.citizens-of']}}
              {{country.name}}
              {{words[language]['result.result']}}
            </h2>
            <h3 class="ws-bold but-local title">{{words[language]['result.eu-subtitle']}}</h3>
            <a class="ws-semibold register-cta" href="https://www.registertovote.service.gov.uk/register-to-vote/country-of-residence" target="_blank" title="Register to vote on gov.uk">{{words[language]['result.register']}}</a>
          </section>
          {% include "partials/ticks-non-voters.njk" %}
        {% else %}

          <section class="main-content">
            <header class="result">
              <h1 class="ws-bold">{{words[language]['result.no']}}</h1>
              <img class="flag" src="/flags/{{ country.code | lower }}.svg" alt="{{ country.name }} Flag"/>
            </header>
            <h2 class="ws-bold title">{{words[language]['result.citizens-of']}}
              {{country.name}}
              {{words[language]['result.result']}}
            </h2>
            <h3 class="ws-bold title">{{words[language]['result.no-subtitle']}}</h3>
          </section>
          {% include "partials/ticks-non-voters.njk" %}
        {% endif %}
        {{ content | safe }}

        <article id="sign-up">
          <h1 class="ws-bold">{{words[language]['signup.title.h1']}}<br/>
            {{words[language]['signup.title.h2']}}</h1>
          <h2 class="ws-medium">{{words[language]['signup.subtitle']}}
          </h2>
          <form name="sign-up" netlify="netlify">
            <label for="name">{{words[language]['signup.name']}}
              <input type="text" name="name" required="required"/>
            </label>
            <label for="email">{{words[language]['signup.email']}}
              <input type="email" name="email" required="required"/>
            </label>
            <label for="email">{{words[language]['signup.phone']}}
              <input type="number" name="number"/>
            </label>
            <label for="sign-up">{{words[language]['signup.disclaimer']}}
              <input class="ws-bold" name="sign-up" type="submit" value="{{words[language]['signup.submit']}}"/>
            </label>
          </form>
        </article>
      </section>
      {% include "partials/sharer.njk" %}
      {% include "partials/footer.njk" %}

    </main>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script src="/js/selector-interceptor.js"></script>
  </body>

</html>