<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/tml4vii.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{country.name.common}}</title>
</head>

<body class="country ws-medium">

  <main class="container">

    {% include "partials/sharer.njk" %}

    {% if commonwealth.indexOf(country.name.common) > -1 %}
    <section class="main-content">
      <header class="result">
        <h1 class="ws-bold">Yes!</h1>
        <img class="flag" src="/flags/{{ country.cca3 }}.svg" alt="{{ country.name.common }} Flag" />
      </header>
      <p class="ws-bold">Citizens of {{country.name.common}} can vote on Thursday December 12th </p>
      <a class="ws-semibold register-cta" href="https://www.gov.uk/register-to-vote" target="_blank" title="Register to vote on gov.uk">Register to vote</a>
    </section>
    {% endif %}


    {% if eu.indexOf(country.name.common) > -1 %}
    <section class="main-content">
      <header class="result">
        <h1 class="ws-bold">No</h1>
        <img class="flag" src="/flags/{{ country.cca3 }}.svg" alt="{{ country.name.common }} Flag" />
      </header>
      <p class="ws-bold">Citizens of {{country.name.common}} can't vote on Thursday December 12th </p>
      <p class="ws-bold but-local">But you can vote in local, European and some regional elections.</p>
      <a class="ws-semibold register-cta" href="https://www.gov.uk/register-to-vote" target="_blank" title="Register to vote on gov.uk">Register to vote</a>
    </section>
    {% endif %}
    {{ content | safe }}

    <section class="white-angle-area">
      <div class="content-container">
        <ul class="ws-semibold">
          <li>You can still contact elected representatives and ask for help.</li>
          <li>You can still participate in you community, take action on issues with your neighbours and make your voice
            heard.</li>
          <li>You can join with millions of people around the country who take action on social justice issues together.
          </li>
        </ul>
      </div>
    </section>

    {% include "partials/footer.njk" %}

  </main>


  <script src="/js/selector-interceptor.js"></script>
</body>

</html>