<!doctype html>
<html>
  <head></head>

  <body class="home ws-medium"></body>
  <script>
    window.location = "https://actionnetwork.org/events/organising-voters-and-voter-registration"
  </script>
</html>