<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/font-face.njk" %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <title>Thank you</title>
  </head>

  <body class="country text-regular dir-{{dir}} script-{{language}}">

    {% include "partials/skip-to-content.njk" %}

    <main class="container">

      <header>
        <h1 class="logo">
          <a href="/" title="{{words[language]['main.can-i-vote']}}"><img src="/img/can-i-vote-logo-yellow.svg" alt="{{words[language]['main.can-i-vote']}}"/></a>
        </h1>
      </header>

 
      <article id="sign-up">
        <h1 class="text-bold">
          Thank you for signing up.</h1>
        <h2 class="text-regular">You will be redirected shortly
        </h2>
        <p>Or, <a href="/">go back to Can I Vote?</a></p>
        <script>
          function redirectPage() {
            window.location = 'https://www.citizensuk.org/register-to-vote/'
          } {
            setTimeout(redirectPage, 7000)
          }
        </script>

      </article>
    </section>

    

  </main>
  <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>

</body>

</html>