<article class="sharer translate-section" aria-live="polite">
  <button class="ws-semibold" onclick="translatePage()">Translate</button>
  <ul aria-hidden="true">
    <li>
      <a class="translate-link" tabindex="-1" href="/{{ country.name | slug }}">English</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/ur/{{ country.name | slug }}">Urdu</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/bn/{{ country.name | slug }}">Bengali</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/si/{{ country.name | slug }}">Sinhala</a>
    </li>
  </ul>
</article>