<article class="top-button translate-section" aria-live="polite">
  <button class="text-condensed uc" onclick="translatePage()">Translate</button>
  <ul aria-hidden="true" class="text-regular">
    <li>
      <a class="translate-link" tabindex="-1" href="/{{ country.name | slug }}" hreflang="en">English</a>
    </li>
  </ul>
</article>