<meta name="description" content="You don't have to be a British Citizen to vote in the UK election."/>
    <meta property="og:title" content="Can I Vote?">
    <meta property="og:site_name" content="Can I Vote?">
    <meta property="og:url" content="https://staging.canivote.org.uk">
    <meta property="og:description" content="You don't have to be a British Citizen to vote in the UK election." />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://staging.canivote.org.uk/img/Can-I-Vote-share.png" />
    <meta property="og:image:width" content="1365"/>
    <meta property="og:image:height" content="683"/>
    <meta property="og:image:alt" content="You don't have to be a British Citizen to vote in the UK election. Deadline to register: 19th April 2021. canivote.org.uk"/>
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Can I Vote?" />
    <meta name="twitter:description" content="It's not just British Citizens who can vote in UK Elections." />
    <meta name="twitter:url" content="https://staging.canivote.org.uk" />
    <meta name="twitter:image" content="https://staging.canivote.org.uk/img/Can-I-Vote-share-socials.png" />
    <meta name="twitter:image:alt" content="You don't have to be a British Citizen to vote in the UK election. Deadline to register: 19th April 2021. canivote.org.uk "/>
