<meta name="description" content="It's not just British Citizens who can vote in UK Elections."/>
    <meta property="og:title" content="Can I Vote?">
    <meta property="og:site_name" content="Can I Vote?">
    <meta property="og:url" content="https://www.canivote.org.uk">
    <meta property="og:description" content="It's not just British Citizens who can vote in UK Elections." />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.canivote.org.uk/img/can-i-vote.png" />
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="512"/>
    <meta property="og:image:alt" content="Can I Vote? It's not just British Citizens who can vote in UK Elections. Register to vote. Deadline to register: 26th November."/>
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Can I Vote?" />
    <meta name="twitter:description" content="It's not just British Citizens who can vote in UK Elections." />
    <meta name="twitter:url" content="https://www.canivote.org.uk" />
    <meta name="twitter:image" content="https://www.canivote.org.uk/img/can-i-vote.png" />
    <meta name="twitter:image:alt" content="Can I Vote? It's not just British Citizens who can vote in UK Elections. Register to vote. Deadline to register: 26th November."/>

    <link itemprop="thumbnailUrl" href="https://www.canivote.org.uk/img/can-i-vote.png"> <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> <link itemprop="url" href="https://www.canivote.org.uk/img/can-i-vote.png"> </span>