<meta name="description" content="You don’t have to be a British Citizen to vote in the UK election."/>
    <meta property="og:title" content="Can I Vote?">
    <meta property="og:site_name" content="Can I Vote?">
    <meta property="og:url" content="https://www.canivote.org.uk">
    <meta property="og:description" content="You don’t have to be a British Citizen to vote in the UK election. Commonwealth nationals with leave to enter or leave to remain in the UK are eligible to vote in all UK elections. ">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.canivote.org.uk/img/can-i-vote.png">

    <meta name="twiiter:card" content="summary">
    <meta name="twitter:title" content="Can I Vote?">
    <meta name="twitter:description" content="You don’t have to be a British Citizen to vote in the UK election. Commonwealth nationals with leave to enter or leave to remain in the UK are eligible to vote in all UK elections. ">
    <meta name="twitter:url" content="https://www.canivote.org.uk">
    <meta name="twitter:image" content="https://www.canivote.org.uk/img/can-i-vote.png">