<style>

    @font-face {
        font-family: 'national-2-condensed-bold';
        src: url("/fonts/National2CondensedWeb-Bold.woff") format('woff'), url("/fonts/National2CondensedWeb-Bold.woff2") format('woff2'), url("fonts/National2CondensedWeb-Bold.eot") format('eot');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'national-2-regular';
        src: url("/fonts/national-2-web-regular.woff") format('woff'), url("/fonts/national-2-web-regular.woff2") format('woff2'), url("fonts/national-2-web-regular.eot") format('eot');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'national-2-medium';
        src: url("/fonts/national-2-web-medium.woff") format('woff'), url("/fonts/national-2-web-medium.woff2") format('woff2'), url("fonts/national-2-web-medium.eot") format('eot');
        font-weight: normal;
        font-style: normal;
    }
</style>