<footer>
      <div class="content-container">
        <div class="left">
          <p class="ws-semibold">We are the home of community organising in the UK. Our diverse membership of over 400 civic organisations includes schools, universities, churches, mosques, synagogues, parents’ groups, health practices, charities and trade unions. We’re independent from Government and funded by our membership and our projects.</p>
        </div>
        <div class="right">
          <a href="https://www.citizensuk.org/" target="_blank" title="Visit Citizens UK's website"><img src="/img/citizens-uk.svg" alt="Citizens UK"/></a>
        </div>
      </div>
    </footer>