<footer>
  <div class="content-container">
    <div class="words">
      <p class="text-regular">{{words[language]['footer.paragraph']}}</p>
    </div>
    <div class="footer-logo">
      <a href="https://www.citizensuk.org/" target="_blank" title="Visit Citizens UK's website"><img src="/img/Citizens-logo-03.svg" alt="Citizens UK"/></a>
    </div>
  </div>
</footer>