<footer>
      <div class="content-container">
        <div class="left">
          <p class="ws-semibold">{{words[language]['footer.paragraph']}}</p>
        </div>
        <div class="right">
          <a href="https://www.citizensuk.org/" target="_blank" title="Visit Citizens UK's website"><img src="/img/citizens-uk.svg" alt="Citizens UK"/></a>
        </div>
      </div>
    </footer>