<footer>
  <div class="content-container">
    <div class="words">
      <p class="text-regular">{{words[language]['footer.paragraph']}}</p>
    </div>
    <div class="footer-logo">
      <a href="https://www.citizensuk.org/" target="_blank" title="Visit Citizens UK's website">
        <picture>
          <source srcset="/img/Citizens-logo-03.svg" media="(min-width: 1000px)" />
          <source srcset="/img/Citizens-logo-02.svg" media="(max-width: 1000px)" />
          <img src="/img/Citizens-logo-03.svg" alt="Citizens UK" />
        </picture>
      </a>
    </div>
  </div>
</footer>