<article class="sharer translate-section" aria-live="polite">
  <button class="ws-semibold" onclick="translatePage()">Translate</button>
  <ul aria-hidden="true">
    <li>
      <a class="translate-link" tabindex="-1" href="/">English</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/ur/">Urdu</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/bn/">Bengali</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/si/">Sinhala</a>
    </li>
  </ul>
</article>