<article class="top-button translate-section" aria-live="polite">
  <button class="text-condensed" onclick="translatePage()">Translate</button>
  <ul aria-hidden="true" class="text-regular">
    <li>
      <a class="translate-link" tabindex="-1" href="/bn/" hreflang="bn">Bengali</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/" hreflang="en">English</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/hi/" hreflang="h1">Hindi</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/si/" hreflang="si">Sinhala</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/ta/" hreflang="ta">Tamil</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/ur/" hreflang="ur">Urdu</a>
    </li>
  </ul>
</article>