<article class="top-button translate-section" aria-live="polite">
  <button class="text-condensed" onclick="translatePage()">Translate</button>
  <ul aria-hidden="true" class="text-regular">
    <li>
      <a class="translate-link" tabindex="-1" href="/ar/" hreflang="ar">العربية</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/cy/" hreflang="cy">Cymraeg</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/" hreflang="en">English</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/es/" hreflang="es">Español</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/fr/" hreflang="fr">Français</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/hi/" hreflang="hi">हिन्दी, हिंदी</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/it/" hreflang="it">Italiano</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/pl/" hreflang="pl">Polszczyzna</a>
    </li>
    <li>
      <a class="translate-link" tabindex="-1" href="/so/" hreflang="so">Soomaaliga</a>
    </li>
  </ul>
</article>