<article class="sharer">
  <button class="ws-bold" onclick="sharePage()">Share</button>
  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.canivote.org.uk&t=Can I Vote?">Facebook</a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/share?text=Can I Vote?&url=https://www.canivote.org.uk">Twitter</a>
    </li>
    <li>
      <a target="_blank" href="https://wa.me/?text=https://www.canivote.org.uk">Whatsapp</a>
    </li>
  </ul>
</article>