<section class="white-angle-area">
  <div class="content-container">
    <ul class="text-bold tick-list">
      <li><a href="#sign-up">{{words[language]['actions.no.first']}}</a></li>
      <li><a href="#sign-up">{{words[language]['actions.no.second']}}</a></li>
      <li><a href="#sign-up">{{words[language]['actions.no.third']}}</a></li>
    </ul>
  </div>