<section class="white-angle-area">
  <div class="content-container">
    <ul class="ws-semibold tick-list">
      <li>{{words[language]['actions.yes.second']}}</li>
      <li>{{words[language]['actions.yes.second']}}</li>
      <li>{{words[language]['actions.yes.third']}}</li>
    </ul>
  </div>