<section class="white-angle-area">
  <div class="content-container">
    <ul class="ws-semibold tick-list">
      <li>You can still participate in your community, take action on issues with your neighbours and make your voice heard.</li>
      <li>You can still contact elected representatives and ask for help.</li>
      <li>You can join with millions of people around the country who take action on social justice issues together.
      </li>
    </ul>
  </div>
