:root {
  --px-149: 6rem;
  --px-52: 2.5rem;
  --px-45: 2.25rem;
  --px-35: 1.5rem;
  --px-45-lh: 1.1;
  --px-26: 1.25rem;
  --default-20px: 18px;
  --larger-script-22px: 22px;
  --px-16: 0.9rem;
  --top-space: 6rem;
  --line-height: 1.2;
  --content-width: 1100px;
  --border-width: 0.5rem;
  --small-border-width: 3px;
  --flag-height: 6.6rem;
  --pink: #e60050;
  --pink-muted: #93183e;
  --pink-transparent: rgba(255, 0, 78, 0.13);
  --green: #108a00;
  --green-muted: #095200;
  --black: #101010;
  --border-grey: #707070;
  --dc-outline-focus: #ffbf47;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/*
Core breakpoints
*/

@media (max-width: 2400px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 20px;
  }
}

@media (max-width: 1600px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 18px;
  }
}

@media (max-width: 900px) {
  :root {
    --default-20px: 16px;
    --larger-script-22px: 20px;
    --px-26: 1.1rem;
    --px-35: 1.25rem;
    --px-45: 2rem;
    --px-52: 2.2rem;
    --content-width: 90%;
  }
}

@media (max-width: 600px) {
  :root {
    --default-20px: 16px;
    --px-26: 1.1rem;
    --px-35: 1.2rem;
    --px-45: 1.6rem;
    --px-52: 1.8rem;
    --content-width: 580px;
    --border-width: 0.4rem;
    --px-149: 4rem;
    --flag-height: 4.6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --default-20px: 16px;
    --px-26: 1rem;
    --px-35: 1.1rem;
    --px-45: 1.4rem;
    --px-52: 1.6rem;
    --px-149: 3.8rem;
    --content-width: 90%;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Foundations
--------------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: var(--larger-script-22px);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;
  height: 100%;
}

html.script-en {
  font-size: var(--default-20px);
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/*--------------------------------------------------------------
# Core Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
  color: var(--black);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: var(--line-height);
}

body {
  margin: 0;
  background: var(--pink);
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

body.country {
  background: var(--pink-transparent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

.ws-medium {
  font-family: "work-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ws-semibold {
  font-family: "work-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ws-bold {
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  margin: 0 auto;
  position: relative;
}

.content-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem 0 3rem;
  position: relative;
}

@media (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }
  .content-container {
    padding: 0 1rem 0;
  }
}

/* CTAs */

.logo {
  position: relative;
  margin: 0;
  top: 2rem;
  left: 3rem;
  width: 15rem;
}

.dir-rtl .logo {
  float: left;
}

@media (max-width: 600px) {
  .logo {
    top: 1rem;
    left: 1rem;
  }
  .logo img {
    height: 50px;
  }
}

a.register-cta,
a.register-cta:visited {
  display: inline-block;
  font-size: var(--px-52);
  background: var(--green);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  line-height: 1;
  margin: 1.5rem 1rem 0;
  position: relative;
  z-index: 15;
}
a.register-cta:active,
a.register-cta:hover {
  background: var(--green-muted);
  text-decoration: none;
}

.wa-desktop {
  display: block;
}

.wa-mobile {
  display: none;
}

@media (max-width: 900px) {
  .wa-desktop {
    display: none;
  }

  .wa-mobile {
    display: block;
  }
}

/* Homepage */

#can-i-vote {
  width: 100%;
  text-align: center;
}

#can-i-vote h1,
#can-i-vote h2 {
  margin: 0;
}

#can-i-vote h1 {
  width: 40rem;
  margin: 0 auto;
  padding-top: var(--top-space);
  padding-top: 25vh;
}

#can-i-vote h2,
.country h2.title {
  color: white;
  font-size: var(--px-45);
  line-height: var(--px-45-lh);
  margin: 1.35rem auto 1rem;
  max-width: 42rem;
}

.country h2.title {
  color: var(--black);
}

#country-selector {
  margin-bottom: 0vh;
}

@media (min-width: 1600px) {
  #country-selector {
    margin-bottom: 25vh;
  }
}

@media (min-height: 1000px) {
  #country-selector {
    margin-bottom: 25vh;
  }
}

@media (max-width: 600px) {
  #can-i-vote h2,
  .country h2.title {
    max-width: 95%;
  }

  #country-selector {
    margin-bottom: 0;
  }

  #can-i-vote h1 {
    padding-top: var(--top-space);
  }
}

.country h3.title {
  font-size: var(--px-35);
  max-width: 30rem;
  margin: 0 auto;
}

#can-i-vote h1 img {
  width: 100%;
}

@media (max-width: 1100px) {
  #can-i-vote h1 {
    width: 30rem;
  }

  #can-i-vote h2,
  .country .main-content p {
    max-width: 80vw;
  }
  .country .main-content p.but-local {
    max-width: 70vw;
  }
}

@media (max-width: 900px) {
  #can-i-vote h1 {
    width: 30rem;
  }

  #can-i-vote h2,
  .country .main-content p {
    max-width: 70vw;
  }
  .country .main-content p.but-local {
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  #can-i-vote h2,
  .country .main-content p {
    max-width: 95%;
  }
  #can-i-vote h1 {
    width: auto;
  }
  #can-i-vote h1 img {
    width: 90%;
  }
}

.home .container {
  background: url(../img/canivote-bg.jpg);
  background-position: center center;
  background-size: cover;
}


/* Sharer */

.sharer {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: var(--px-26);
  width: 8rem;
  z-index: 14;
}

.translate-section {
  right: 14rem;
  top: 2rem;
  z-index: 9;
}

@media (max-width: 600px) {
  .sharer {
    width: 6rem;
    top: 1rem;
    right: 1rem;
  }

  .translate-section {
    right: 11rem;
    top: 1rem;
    z-index: 9;
  }

  .home .translate-section {
    right: auto;
    top: 1rem;
    left: 1rem;
  }
}

@media (max-width: 480px) {
  .translate-section {
    right: 3.5rem;
    top: 5rem;
    z-index: 9;
  }
}

.sharer button {
  border: var(--small-border-width) solid white;
  padding: 0.35em 1.75em 0.35em 0.5em;
  color: white;
  background: transparent;
  text-transform: uppercase;
  position: absolute;
  font-size: inherit;
  cursor: pointer;
}

.sharer button::after {
  content: "";
  width: 1.15em;
  height: 1.15em;
  position: absolute;
  background-image: url("../img/down-icon.svg");
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0.3em;
  top: 0.38em;
}

.country .sharer button::after {
  background-image: url("../img/down-icon-pink.svg");
}

.sharer ul {
  padding: 0.35em 0.5em;
  color: white;
  background: white;
  margin: 3rem 0 0 0;
  width: 10rem;
  margin-left: -2.6rem;
  border: solid var(--pink-muted) var(--small-border-width);
  list-style: none;
  transition: all 0.25s ease;
  position: relative;
  opacity: 1;
  top: 0;
  animation: fadeIn 0.5s both;
}

.sharer ul.hidden {
  margin-top: -13rem;
  transition: all 0.5s ease;
  animation: fadeOut 0.25s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sharer li {
  margin-bottom: 0rem;
}

.sharer li a,
.sharer li a:visited {
  display: block;
  color: var(--pink-muted);
  text-decoration: none;
  padding: 0.25rem 0;
  padding-left: 1.5rem;
  background-size: 1rem;
  background-position: center left;
  background-repeat: no-repeat;
}

.dir-rtl .sharer li a,
.dir-rtl .sharer li a:visited {
  padding: 0.25rem 0 0;
  padding-right: 1.5rem;
  background-position: center right;
}

.sharer li.fb a {
  background-image: url("../img/facebook.svg");
}
.sharer li.tt a {
  background-image: url("../img/twitter.svg");
}
.sharer li.wa a {
  background-image: url("../img/whatsapp.svg");
}

.sharer li a:hover,
.sharer li a:active {
  text-decoration: underline;
}
.country .sharer button,
.country .sharer ul {
  border: var(--small-border-width) solid var(--pink-muted);
  color: var(--pink-muted);
}

/* Footer */

footer::before {
  content: "";
  position: absolute;
  width: 110%;
  background: var(--pink);
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

.country footer::before {
  content: "";
  background: url("../img/canivote-bg.jpg");
  background-position: center center;
  background-size: cover;
}
footer {
  width: 100%;
  height: 16rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 11;
}

@media (max-width: 600px) {
  footer {
    height: 35rem;
    overflow: hidden;
  }
  footer::before {
    right: -1rem;
  }
}

footer .left {
  width: 70%;
  float: left;
}

footer img {
  position: relative;
  top: 10.6rem;
  float: right;
  max-width: 10rem;
}

footer .right {
  width: 25%;
  float: right;
}

footer p {
  color: white;
  margin: 0;
  position: relative;
  top: 9rem;
  text-align: left;
  font-size: var(--px-16);
}

.dir-rtl footer p {
  text-align: right;
}

@media (max-width: 900px) {
  footer .left {
    width: 100%;
    float: none;
    margin-bottom: 5rem;
  }

  footer img {
    position: relative;
    top: 7.5rem;
    float: none;
    max-width: 10rem;
  }

  footer .right {
    text-align: right;
    width: 100%;
    float: none;
    padding-bottom: 4rem;
  }

  footer p {
    top: 10rem;
    font-size: var(--px-16);
    line-height: var(--line-height);
  }
}

/* Country page */

.country .result {
  margin: 0px auto;
  position: relative;
  display: inline-block;
  border: var(--border-width) solid var(--pink-muted);
  height: auto;
  background: var(--pink-muted);
}

.country .main-content {
  width: 100%;
  height: 100%;
  padding-top: var(--top-space);
  text-align: center;
  margin-bottom: 4rem;
}

.result h1 {
  margin: 0;
  display: block;
  color: var(--pink-muted);
  font-size: var(--px-149);
  background: white;
  float: left;
  padding: 0.3rem 2.5rem;
  line-height: 1;
}

.result img {
  vertical-align: bottom;
  float: right;
  margin: 0;
  border-left: var(--border-width) solid var(--pink-muted);
  height: var(--flag-height);
}

@media (max-width: 480px) {
  .result h1 {
    padding: 0.4rem 1.5rem;
  }
}

.white-angle-area {
  background: transparent;
  padding: 7.5rem 0 0;
  position: relative;
  bottom: 6rem;
  z-index: 1;
}
.white-angle-area::before {
  content: "";
  position: absolute;
  width: 120%;
  background: white;
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

@media (max-width: 600px) {
}

.white-angle-area ul {
  position: relative;
  width: 39rem;
  margin: 1rem auto 0;
}

.white-angle-area ul li {
  font-size: var(--px-26);
  list-style: none;
  margin-bottom: 0.75em;
  line-height: 1.1;
  max-width: 40em;
  padding: 0em 0 0 3.4em;
  background-image: url("../img/tick.svg");
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 3.7em;
  background-size: 2.25em;
  display: inline-block;
}

.dir-rtl .white-angle-area ul {
  text-align: right;
}

.dir-rtl .white-angle-area ul li {
  padding: 0 3.43em 0 0;
  background-position: top right;
}

@media (max-width: 600px) {
  .white-angle-area ul li {
  }
  .white-angle-area ul {
    width: 90%;
    padding-left: 0;
  }
}
ul.tick-list {
  padding-left: 0;
  text-align: left;
}
#sign-up {
  background: var(--pink-transparent);
  padding: 3rem 6rem 10rem;
  width: 38rem;
  text-align: left;
  margin: 3rem auto -15rem;
  position: relative;
  z-index: 10;
}

.dir-rtl #sign-up {
  text-align: right;
}

#sign-up h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: var(--px-35);
}

#sign-up h2 {
  margin: 0;
}

#sign-up form {
  max-width: 90%;
  text-align: left;
  margin-bottom: 0rem;
}

.dir-rtl #sign-up form {
  text-align: right;
}

@media (max-width: 600px) {
  #sign-up form {
    max-width: 100%;
  }
  #sign-up {
    padding: 3rem 3rem 10rem;
    width: 100%;
  }
}

#sign-up label {
  font-size: var(--px-16);
  margin: 0;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

#sign-up input[type="text"],
#sign-up input[type="number"],
#sign-up input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.3rem 0.4rem;
}

select {
  padding: 0.3rem 0.4rem;
  max-width: 80%;
  background: white;
  -webkit-appearance: none;
}

#sign-up input[type="text"],
#sign-up input[type="number"],
#sign-up input[type="email"],
select {
  border: 1px solid var(--border-grey);
  border-radius: 0;
}

*:focus {
  outline: 4px solid var(--dc-outline-focus);
}

input[type="submit"] {
  background: var(--green);
  color: white;
  border: none;
  color: white;
  padding: 0.4rem 1rem;
  display: inline-block;
  width: auto;
  margin-top: 0.9rem;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

.country input[type="submit"] {
  display: block;
}

input[type="submit"]:active,
input[type="submit"]:hover {
  background: var(--green-muted);
}
