:root {
  --px-149: 6rem;
  --px-52: 2.5rem;
  --px-45: 2.25rem;
  --px-35: 1.5rem;
  --px-45-lh: 1.1;
  --px-26: 1.25rem;
  --default-20px: 20px;
  --top-space: 8rem;
  --line-height: 1.2;
  --content-width: 1100px;
  --border-width: 0.5rem;
  --flag-height: 6.6rem;
  --pink: #e60050;
  --pink-muted: #93183e;
  --green: #108a00;
  --green-muted: #095200;
  --black: #101010;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/*
Core breakpoints
*/

@media (max-width: 2400px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 20px;
  }
}

@media (max-width: 1600px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 18px;
  }
}

@media (max-width: 900px) {
  :root {
    --default-20px: 18px;
    --px-26: 1.1rem;
    --px-35: 1.25rem;
    --px-45: 2rem;
    --px-52: 2.2rem;
    --content-width: 90%;
  }
}

@media (max-width: 600px) {
  :root {
    --default-20px: 16px;
    --px-26: 1.1rem;
    --px-35: 1.2rem;
    --px-45: 1.6rem;
    --px-52: 1.8rem;
    --content-width: 580px;
    --border-width: 0.4rem;
    --px-149: 4rem;
    --flag-height: 4.6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --default-20px: 16px;
    --px-26: 1rem;
    --px-35: 1.1rem;
    --px-45: 1.4rem;
    --px-52: 1.6rem;
    --content-width: 90%;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Foundations
--------------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: var(--default-20px);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  margin: 0;
  background: white;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/*--------------------------------------------------------------
# Core Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
  color: var(--black);
  font-family: var(--founders-regular);
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: var(--line-height);
}

body {
  margin: 0;
  background: var(--pink);
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

body.country {
  background: rgba(255, 0, 78, 0.13);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

.ws-medium {
  font-family: "work-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ws-semibold {
  font-family: "work-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ws-bold {
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  margin: 0 auto;
  position: relative;
}

.content-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem 0 3rem;
  position: relative;
}

@media (max-width: 600px) {
  .content-container {
    padding: 0 1rem 0;
  }
}

/* CTAs */

a.register-cta,
a.register-cta:visited {
  display: inline-block;
  font-size: var(--px-52);
  background: var(--green);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  line-height: 1;
  margin: 1rem 1rem 0;
}
a.register-cta:active,
a.register-cta:hover {
  background: var(--green-muted);
  text-decoration: none;
}

/* Homepage */

#can-i-vote {
  width: 100%;
  text-align: center;
}

#can-i-vote h1,
#can-i-vote h2 {
  margin: 0;
}

#can-i-vote h1 {
  width: 40rem;
  margin: 0 auto;
  padding-top: var(--top-space);
}

#can-i-vote h2,
.country .main-content p {
  color: white;
  font-size: var(--px-45);
  line-height: var(--px-45-lh);
  margin: 1.75rem auto 1.5rem;
  max-width: 45rem;
}

.country .main-content p {
  color: var(--black);
}

.country .main-content p.but-local {
  font-size: var(--px-35);
  max-width: 30rem;
}

#can-i-vote h1 img {
  width: 100%;
}

@media (max-width: 1100px) {
  #can-i-vote h1 {
    width: 30rem;
  }

  #can-i-vote h2,
  .country .main-content p {
    max-width: 80vw;
  }
  .country .main-content p.but-local {
    max-width: 70vw;
  }
}

@media (max-width: 900px) {
  #can-i-vote h1 {
    width: 30rem;
  }

  #can-i-vote h2,
  .country .main-content p {
    max-width: 70vw;
  }
  .country .main-content p.but-local {
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  #can-i-vote h2,
  .country .main-content p {
    max-width: 95%;
  }
  #can-i-vote h1 {
    width: auto;
  }
  #can-i-vote h1 img {
    width: 90%;
  }
}

.home .container {
  background: url(../img/canivote-bg.jpg);
  background-position: center center;
  background-size: cover;
}

#country-selector {
  margin-bottom: 5rem;
}

#country-selector label h3 {
  font-size: var(--default-20px);
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: white;
}

/* Sharer */

.sharer {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: var(--px-26);
  width: 8rem;
}

@media (max-width: 600px) {
  .sharer {
    width: 6rem;
    top: 1rem;
    right: 1rem;
  }
}

.sharer button {
  border: 3px solid white;
  padding: 0.35em 1.75em 0.35em 0.5em;
  color: white;
  background: transparent;
  text-transform: uppercase;
  position: absolute;
  font-size: inherit;
}

.sharer button::after {
  content: "";
  width: 1.15em;
  height: 1.15em;
  position: absolute;
  background-image: url("../img/down-icon.svg");
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0.3em;
  top: 0.38em;
}

.country .sharer button::after {
  background-image: url("../img/down-icon-pink.svg");
}

.sharer ul {
  border: 3px solid white;
  padding: 0.35em 0.5em;
  color: white;
  background: transparent;
  text-transform: uppercase;
}

.country .sharer button,
.country .sharer ul {
  border: 3px solid var(--pink-muted);
  color: var(--pink-muted);
}

/* Footer */

footer::before {
  content: "";
  position: absolute;
  width: 110%;
  background: var(--pink);
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

.country footer::before {
  content: "";
  background: url("../img/canivote-bg.jpg");
  background-position: center center;
  background-size: cover;
  bottom: -10rem;
}
footer {
  width: 100%;
  height: 30rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

footer .left {
  width: 70%;
  float: left;
}

footer img {
  position: relative;
  top: 15rem;
  float: right;
  max-width: 10rem;
}

footer .right {
  width: 25%;
  float: right;
}

footer p {
  color: white;
  margin: 0;
  position: relative;
  top: 9rem;
}

.country footer img {
  top: 25rem;
}

.country footer p {
  top: 18rem;
}

@media (max-width: 900px) {
  footer .left {
    width: 100%;
    float: none;
    margin-bottom: 5rem;
  }

  footer img {
    position: relative;
    top: 7.5rem;
    float: none;
    max-width: 10rem;
  }

  footer .right {
    text-align: right;
    width: 100%;
    float: none;
    padding-bottom: 4rem;
  }

  footer p {
    top: 10rem;
    font-size: var(--default-20px);
    line-height: var(--line-height);
  }
  .country footer p {
    top: 15rem;
  }

  .country footer img {
    top: 14rem;
  }

  .country footer {
    height: 40rem;
  }
}

/* Country page */

.country .result {
  margin: 0px auto;
  position: relative;
  display: inline-block;
  border: var(--border-width) solid var(--pink-muted);
  height: auto;
}

.country .main-content {
  width: 100%;
  height: 100%;
  padding-top: var(--top-space);
  text-align: center;
}

.result h1 {
  margin: 0;
  display: block;
  color: var(--pink-muted);
  font-size: var(--px-149);
  background: white;
  float: left;
  padding: 0.3rem 2.5rem;
  line-height: 1;
}

.result img {
  display: inline;
  vertical-align: bottom;
  margin: 0;
  border-left: var(--border-width) solid var(--pink-muted);
  height: var(--flag-height);
}

@media (max-width: 480px) {
  .result h1 {
    padding: 0.3rem 1.5rem;
  }
}

.white-angle-area {
  background: transparent;
  padding: 8.5rem 0 0;
  position: relative;
  margin-bottom: -5rem;
}
.white-angle-area::before {
  content: "";
  position: absolute;
  width: 110%;
  background: white;
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

.white-angle-area ul {
  position: relative;
  width: 40rem;
  margin: 0 auto;
}

.white-angle-area ul li {
  font-size: var(--px-26);
  list-style: none;
  margin-bottom: 0.75em;
  line-height: 1.1;
  max-width: 40em;
  padding: 1em 0 0 3.8em;
  background-image: url("../img/tick.svg");
  background-position: 6px 9px;
  background-repeat: no-repeat;
  min-height: 3.7em;
  background-size: 2.5em;
  display: inline-block;
}

@media (max-width: 600px) {
  .white-angle-area ul li {
  }
  .white-angle-area ul {
    width: 90%;
    padding-left: 0;
  }
}
