:root {
  --px-149: 6rem;
  --px-52: 2rem;
  --px-45: 2.5rem;
  --px-35: 1.5rem;
  --px-45-lh: 1.1;
  --px-26: 1.25rem;
  --default-20px: 18px;
  --larger-script-22px: 22px;
  --px-16: 0.9rem;
  --top-space: 6rem;
  --line-height: 1.2;
  --content-width: 1100px;
  --border-width: 0.5rem;
  --small-border-width: 3px;
  --flag-height: 6.6rem;
  --pink: #e60050;
  --green: #108a00;
  --green-muted: #095200;
  --black: #101010;
  --border-grey: #707070;
  --dc-outline-focus: #ffbf47;
  --light-bg: #FFF3D1;
  --darker-bg: #D1A50A;
  --dark-blue-bg: #030738;
  --dark-blue-text: #03092B;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/*
Core breakpoints
*/

@media (max-width: 2400px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 20px;
  }
}

@media (max-width: 1600px) {
  :root {
    --px-109: 4.45rem;
    --default-20px: 18px;
  }
}

@media (max-width: 900px) {
  :root {
    --default-20px: 16px;
    --larger-script-22px: 20px;
    --px-26: 1.1rem;
    --px-35: 1.25rem;
    --px-45: 2rem;
    --px-52: 2.2rem;
    --content-width: 90%;
  }
}

@media (max-width: 600px) {
  :root {
    --default-20px: 16px;
    --px-26: 1.1rem;
    --px-35: 1.2rem;
    --px-45: 1.6rem;
    --px-52: 1.8rem;
    --content-width: 580px;
    --border-width: 0.4rem;
    --px-149: 4rem;
    --flag-height: 4.6rem;
  }
}

@media (max-width: 480px) {
  :root {
    --default-20px: 16px;
    --px-26: 1rem;
    --px-35: 1.1rem;
    --px-45: 1.4rem;
    --px-52: 1.6rem;
    --px-149: 3.8rem;
    --content-width: 90%;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Foundations
--------------------------------------------------------------*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: var(--larger-script-22px);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.4;
}

html.script-en {
  font-size: var(--default-20px);
  line-height: var(--line-height);
}

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/*--------------------------------------------------------------
# Core Typography
--------------------------------------------------------------*/

body, button, input, select, optgroup, textarea {
  color: var(--black);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

body {
  background: var(--light-bg);
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

body.country {
  background: var(--light-bg);
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

.center {
  text-align: center;
}

.text-regular {
  font-family: 'national-2-regular', 'sans-serif';
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-family: 'national-2-medium', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

.text-condensed {
  font-family: 'national-2-condensed-bold', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

.uc {
  text-transform: uppercase;
}

.ws-medium {
  font-family: "work-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ws-semibold {
  font-family: "work-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ws-bold {
  font-family: "work-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.top-buttons {
  order: 1;
  flex-grow: 1;
}

.site-content {
  flex: 1;
  order: 2;
}

footer {
  position: absolute;
  bottom: 0;
  order: 3;
}

.content-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem 0 3rem;
  position: relative;
}

@media (max-width: 600px) {
  .container {
    overflow-x: hidden;
  }
  .content-container {
    padding: 0 1rem 0;
  }
}

/* CTAs */

.logo {
  position: relative;
  margin: 0;
  top: 2rem;
  left: 3rem;
  width: 9rem;
}

.dir-rtl .logo {
  left: auto;
  right: 3rem;
}

@media (max-width: 900px) {
  .dir-rtl .logo {
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 600px) {
  .logo {
    top: 1rem;
    left: 1rem;
  }
  .dir-rtl .logo {
    left: auto;
    right: 1rem;
  }
  .logo img {
    height: 50px;
  }
}

a.register-cta, a.register-cta:visited {
  display: inline-block;
  font-size: var(--px-52);
  background: var(--darker-bg);
  text-decoration: none;
  color: var(--dark-blue-bg);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  line-height: 1;
  margin: 1.5rem 1rem 0;
  position: relative;
  z-index: 15;
}

a.register-cta:active, a.register-cta:hover {
  filter: brightness(1.1);
  text-decoration: none;
}

.wa-desktop {
  display: block;
}

.wa-mobile {
  display: none;
}

@media (max-width: 900px) {
  .wa-desktop {
    display: none;
  }
  .wa-mobile {
    display: block;
  }
}

/* Homepage */

@media (min-width: 1000px) {

  .home-flex {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 60vh;
  }

  .home .main-content {
    max-width: 100%;
  }
  .home::before {
    content: '';
    position: fixed;
    background: var(--light-bg);
    width: 50%;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .home .words {
    order: 2;
  }
  .home .words p {
    font-size: 14px;
  }
  .home .footer-logo {
    order: 1;
    padding-right: 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  .home .footer-logo a {
    flex-grow: 1;
  }

  .home .footer-logo a {
    display: block;
  }
  .home footer  {
    width: 50%;
  }
  .home footer .content-container {
    display: grid;
    grid-template-columns: 5fr 10fr;
    padding: 0 1rem 1rem 1rem;
  }
  .home footer, .home .top-buttons {
    z-index: 3;
  }
  .home .site-content {
    z-index: 2;
  }
  .top-buttons {
    order: 1;
    flex-grow: 0;
  }

  .logo-box, .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  body .logo-box h1 svg {
    width: 40vw;
  }
  
}

.inner-content-box {
  width: 100%;
}


.logo-box h1 svg {
  width: 80%;
}

.content-box {
  padding: 2rem;
}

#can-i-vote {
  width: 100%;
  text-align: center;
  order: 2;
}

#can-i-vote h1, #can-i-vote h2 {
  margin: 0;
}

#can-i-vote h1 {
  margin: 0 auto;
}

#can-i-vote h2, .country h2.title {
  color: var(--dark-blue-text);
  font-size: 4.5vw;
  margin: 0 auto 1rem;
  line-height: 1.2;
  max-width: 8em;
}

.country h2.title {
  font-size: var(--px-45);
  font-size: 3rem;
  max-width: 12em;
  margin-top: 0.5rem;
  margin-bottom:0.5rem;
}

.script-en #can-i-vote h2, .script-en h2.title {
  line-height: var(--px-45-lh);
}

.country h2.title {
  color: var(--dark-blue-text);
}

#country-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0vh;
}

.main-content {
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #can-i-vote h2, .country h2.title {
    max-width: 95%;
  }
  #country-selector {
    margin-bottom: 0;
  }
}

.country h3.title {
  font-size: var(--px-35);
  max-width: 18em;
  margin: 0 auto;
}

#can-i-vote h1 img {
  width: 100%;
}

@media (max-width: 1100px) {
  #can-i-vote h2, .country .main-content p {
    max-width: 80vw;
  }
  .country .main-content p.but-local {
    max-width: 70vw;
  }
}

@media (max-width: 900px) {
  #can-i-vote h2, .country .main-content p {
    max-width: 70vw;
  }
  .country .main-content p.but-local {
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  #can-i-vote h2, .country .main-content p {
    max-width: 95%;
  }
  #can-i-vote h1 {
    width: auto;
  }
  #can-i-vote h1 img {
    width: 90%;
  }
}

.home .container {
  background: var(--darker-bg);
}

/* Sharer */

.sharer {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: var(--px-26);
  width: 8rem;
  z-index: 14;
}

.translate-section {
  right: 11rem;
  top: 2rem;
  z-index: 9;
}

.dir-rtl .sharer {
  right: auto;
  left: 3rem;
}

.dir-rtl .translate-section {
  right: auto;
  left: 11rem;
}

@media (max-width: 900px) {
  .sharer {
    width: 6rem;
    top: 1rem;
    right: 1rem;
  }
  .dir-rtl .sharer {
    right: auto;
    left: 1rem;
  }
  /* .translate-section {
    right: 11rem;
    top: 1rem;
    z-index: 9;
  }
  .dir-rtl .translate-section {
    right: auto;
    left: 11rem;
  } */
  .translate-section {
    right: 2rem;
    top: 6rem;
    z-index: 9;
  }
  .dir-rtl .translate-section {
    right: 1rem;
    left: auto;
  }
  .home .translate-section {
    right: auto;
    top: 1rem;
    left: 1rem;
  }
  .dir-rtl.home .translate-section {
    left: auto;
    right: 1rem;
  }
}

@media (max-width: 480px) {
  .translate-section {
    right: 3.5rem;
    top: 5rem;
    z-index: 9;
  }
  .dir-rtl .translate-section {
    right: 1rem;
    left: auto;
  }
}

.sharer button {
  border: none;
  background: var(--dark-blue-bg);
  padding: 0.35em 1.75em 0.35em 0.5em;
  color: white;
  text-transform: uppercase;
  position: absolute;
  font-size: inherit;
  cursor: pointer;
}

.sharer.translate-section button {
  font-size: var(--px-16);
  background: var(--darker-bg);
  color: var(--dark-blue-text);
}

.sharer button::after {
  content: "";
  width: 1.15em;
  height: 1.15em;
  position: absolute;
  background-image: url("../img/down-icon-white.svg");
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0.3em;
  top: 0.38em;
}

.translate-section.sharer button::after {
  background-image: url("../img/down-icon-blue.svg");
}
 
.sharer ul {
  padding: 0.35em 0.5em;
  color: var(--dark-blue-text);
  background: var(--darker-bg);
  margin: 3rem 0 0 0;
  width: 10rem;
  margin-left: -2.6rem;
  border: solid var(--pink-muted) var(--small-border-width);
  list-style: none;
  transition: all 0.25s ease;
  position: relative;
  opacity: 1;
  top: 0;
  animation: fadeIn 0.5s both;
}

.sharer ul.hidden {
  margin-top: -13rem;
  transition: all 0.5s ease;
  animation: fadeOut 0.25s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sharer li {
  margin-bottom: 0rem;
}

.sharer.translate-section li {
  font-size: var(--px-16);
}

.sharer li a, .sharer li a:visited {
  display: block;
  color: var(--pink-muted);
  text-decoration: none;
  padding: 0.25rem 0;
  padding-left: 1.5rem;
  background-size: 1rem;
  background-position: center left;
  background-repeat: no-repeat;
}

.dir-rtl .sharer li a, .dir-rtl .sharer li a:visited {
  padding: 0.25rem 0 0;
  padding-right: 1.5rem;
  background-position: center right;
}

.sharer li.fb a {
  background-image: url("../img/facebook.svg");
}

.sharer li.tt a {
  background-image: url("../img/twitter.svg");
}

.sharer li.wa a {
  background-image: url("../img/whatsapp.svg");
}

.sharer li a:hover, .sharer li a:active {
  text-decoration: underline;
}

 

/* Footer */

.country footer::before {
  content: "";
  background: var(--darker-bg);
  position: absolute;
  width: 110%;
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

.country footer {
  width: 100%;
  height: 17rem;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 11;
  padding-top: 9rem;
}

@media (max-width: 600px) {
  footer {
    height: 35rem;
    overflow: hidden;
  }
  footer::before {
    right: -1rem;
  }
}

footer img {
  max-width: 10rem;
}

footer p {
  color: var(--dark-blue-text);
  margin: 0;
  text-align: left;
  font-size: var(--px-16);
}

.dir-rtl footer p {
  text-align: right;
}

@media (max-width: 900px) {
  footer .words {
    width: 100%;
    margin-bottom: 5rem;
  }
  footer img {
    max-width: 10rem;
  }
  footer .logo-box {
    text-align: right;
    width: 100%;
    padding-bottom: 4rem;
  }
  footer p {
    font-size: var(--px-16);
  }
}

/* Country page */

.country .result {
  margin: 0px auto;
  position: relative;
  display: inline-block;
  height: auto;
  background: var(--pink-muted);
}

.country .main-content {
  width: 100%;
  height: 100%;
  padding-top: var(--top-space);
  text-align: center;
  margin-bottom: 4rem;
}

.result h1 {
  margin: 0;
  display: block;
  color: white;
  font-size: var(--px-149);
  background: var(--dark-blue-bg);
  float: left;
  padding: 0.15rem 2.5rem 0.45rem;
  line-height: 1;
}

.result img {
  vertical-align: bottom;
  float: right;
  margin: 0;
  height: var(--flag-height);
}

@media (max-width: 480px) {
  .result h1 {
    padding: 0.4rem 1.5rem;
  }
}

.white-angle-area {
  background: transparent;
  padding: 7.5rem 0 0;
  position: relative;
  bottom: 6rem;
  z-index: 1;
}

.white-angle-area::before {
  content: "";
  position: absolute;
  width: 120%;
  background: white;
  transform: rotate(-2.5deg);
  right: -2rem;
  bottom: -5rem;
  height: 100%;
}

.white-angle-area ul {
  position: relative;
  width: 34rem;
  margin: 1rem auto 0;
  max-width: 100%;
}

.white-angle-area ul li {
  font-size: var(--px-26);
  list-style: none;
  margin-bottom: 0.75em;
  max-width: 30em;
  padding: 0em 0 0 3.4em;
  background-image: url("../img/tick.svg");
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 3.7em;
  background-size: 2.25em;
  display: inline-block;
}

.script-en .white-angle-area ul li {
  line-height: 1.1;
}

.dir-rtl .white-angle-area ul {
  text-align: right;
}

.dir-rtl .white-angle-area ul li {
  padding: 0 3.43em 0 0;
  background-position: top right;
}

@media (max-width: 600px) {
  .white-angle-area ul li {}
  .white-angle-area ul {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

ul.tick-list {
  padding-left: 0;
  text-align: left;
}

ul.tick-list a {
  color: var(--black);
  text-decoration: none;
}

#sign-up {
  background: var(--light-bg);
  padding: 3rem 6rem 10rem;
  width: 38rem;
  text-align: left;
  margin: 3rem auto -15rem;
  position: relative;
  z-index: 10;
}

.dir-rtl #sign-up {
  text-align: right;
}

#sign-up h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: var(--px-35);
}

#sign-up h2 {
  margin: 0;
  font-size: var(--default-20px);
}

.dir-rtl #sign-up h2 {
  font-size: var(--larger-script-22px);
}

#sign-up form {
  max-width: 90%;
  text-align: left;
  margin-bottom: 0rem;
}

.dir-rtl #sign-up form {
  text-align: right;
}

@media (max-width: 600px) {
  #sign-up form {
    max-width: 100%;
  }
  #sign-up {
    padding: 3rem 3rem 10rem;
    width: 100%;
  }
}

#sign-up label {
  font-size: var(--px-16);
  margin: 0;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

#sign-up input[type="text"], #sign-up input[type="number"], #sign-up input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.3rem 0.4rem;
}

select {
  padding: 0.3rem 0.4rem;
  max-width: 80%;
  background: white;
  -webkit-appearance: none;
}

#sign-up input[type="text"], #sign-up input[type="number"], #sign-up input[type="email"], select {
  border: 1px solid var(--border-grey);
  border-radius: 0;
}

*:focus {
  outline: 4px solid var(--dc-outline-focus);
}

input[type="submit"] {
  background: var(--green);
  color: white;
  border: none;
  color: white;
  padding: 0.4rem 1rem;
  display: inline-block;
  width: auto;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

form[name="sign-up"] input[type="submit"] {
  margin-top: 1rem;
}

.country input[type="submit"] {
  display: block;
}

input[type="submit"]:active, input[type="submit"]:hover {
  background: var(--green-muted);
}

.dc {
  max-width: 24rem;
  margin: 2rem auto;
}